.form-group {
  margin-bottom: 20px;
  padding-left: 100px;
  padding-right: 100px;

}

.btn-registro {
  margin-top: 20px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
}
